header{ 
    background-color: #f3dfc1;
    font-family: 'Ubuntu', sans-serif;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    font-size: large;
}

body{
    font-family: 'Ubuntu', sans-serif;
    background-image: url(/livre-or/images/livre.3.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
}
footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    font-family: 'Unbuntu', sans-serif;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color:#ddbea8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-box{ display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inscription,.git,.livre{

    text-decoration: none;
}
.livre{
    color: white;
}
.livre:hover{
    color: #C2847A;
}

.inscription{
    color: #C2847A;
}

.connexion{
    color:#C2847A;
    font-size: 120%;
}
.git{
    color: #C2847A;
    font-size: 130%;
    border: 2px solid #C2847A;
}
.git:hover{
    color : #f3dfc1;
    border : #f3dfc1;
}

.inscription:hover,.connexion:hover{
    color: #f3dfc1;
    }

